{% load static %}{% load compress %}
<div class="skos_5">
    <div class="skos-5-content-wrapper">
        <div class="col-sm-12 warunki-margin">
            <h2 class=" text-center " style="margin-top: 0px;">
                WARUNKI UDZIAŁU
            </h2>
        </div>
        <div class="container condition-wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 hidden-xs hidden-sm"></div>
                <div class=" col-xs-12 col-sm-12 col-md-6 rectangle triangle-right triangle-01"><p class="right-triangle-padding">Zastosowanie w zgłaszanym obiekcie systemów RIGIPS <br>(w zakresie suchej zabudowy)</p></div>
            </div>
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-6 rectangle triangle-left triangle-02"><p class="left-triangle-padding">Przesłanie przez firmę krótkiego opisu procesu zabudowy, ze szczególnym uwzględnieniem nietypowych, trudnych rozwiązań oraz specyfikacją zastosowanych systemów</p></div>
                <div class="col-xs-12 col-sm-12 col-md-6 hidden-xs hidden-sm"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 hidden-xs hidden-sm"></div>
                <div class=" col-xs-12 col-sm-12 col-md-6 rectangle triangle-right triangle-03"><p class="right-triangle-padding">Dostarczenie dokumentacji fotograficznej obiektu <br>(w trakcie zabudowy oraz ukończonej realizacji)</p></div>
            </div>
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-6 rectangle triangle-left triangle-04"><p class="left-triangle-padding">Uzyskanie zgody autora projektu i inwestora na publikację zdjęć obiektu oraz wykorzystanie ich w materiałach reklamowych Saint-Gobain/RIGIPS.
                    <a href="{% if configuration.condition_file %}{{ configuration.condition_file.url }}{% endif %}" target="_blank">Pobierz formularze zgód na wykorzystanie zdjęć.</a></p></div>
                <div class="col-xs-12 col-sm-12 col-md-6 hidden-xs hidden-sm"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 hidden-xs hidden-sm"></div>
                <div class=" col-xs-12 col-sm-12 col-md-6 rectangle triangle-right right-3 triangle-05"><p class="right-triangle-padding">Przesłanie zgłoszenia do 20.07.2017 r.</p></div>
            </div>
            <div class="row">
                <div class="col-sm-12 reward-wrapper">
                    <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                    <div class="">
                        <h2 class="reward-title">Zwycięzca</h2>
                        <p class="reward-text">
                           Zwycięskie obiekty będą reprezentowały Polskę<br/>w międzynarodowej edycji konkursu, a przedstawicieli firm wykonawczych zaprosimy w 2018 roku na uroczyste ogłoszenie wyników, które odbędzie się w marcu w Lizbonie.
                        </p>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>