{% load static %}{% load widget_tweaks %}

<div class="footer-wrapper">
    <div class="container">
        <div class="row">
        <div class="col-sm-6">
            <a href="http://www.rigips.pl/"  target="_blank"><img class="img-responsive rigips-logo" src="{% static 'website/images/rigips_white.png' %}" alt=""></a>
        </div>
        <div class="col-sm-6 text-right">
            <div class="contact-wrapper">
                Adrianna Przedpełska<br/>
                e-mail: <a href="mailto:">adrianna.przedpelska-kot@saint-gobain.com</a><br/>
                tel.: <a href="tel:+48662227212">+48 662 227 212</a>
            </div>
        </div>
        </div>
    </div>
</div>