{% load static %}{% load widget_tweaks %}
<div class="form-wrapper">
<div class="container blue-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="form-title text-center ">
                ZGŁOŚ PROJEKT
            </h2>
            <div class="col-xs-4"></div>
             <div class="col-xs-4 green-border"></div>
             <div class="col-xs-4"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            {% if messages %}
                {% for message in messages %}
                <div class="alert type-{{ message.tags }}" role="alert">
                {{ message }}
                </div>
                {% endfor %}

                <script>
                    $(function(){
                        setTimeout(function(){
                            $('html, body').animate({
                                scrollTop: $('.alert:first').offset().top - 100
                            }, 1000);
                        }, 300);
                    });
                </script>

            {% endif %}
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2 col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-12 col-sm-12 col-md-8 form-wrapper-padding">

            <form action="." method="post" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.company_name.auto_id }}">{{ form.company_name.label }} *</label>
                    {% render_field form.company_name class="form-control" %}
                    {{ form.company_name.errors }}
                </div>

                <div class="form-group col-md-6 col-xs-12 form-group-left">
                    <label for="{{ form.name.auto_id }}">{{ form.name.label }} *</label>
                    {% render_field form.name class="form-control" %}
                    {{ form.name.errors }}
                </div>
                  <div class="form-group col-md-6 col-xs-12 form-group-right">
                    <label for="{{ form.email.auto_id }}">{{ form.email.label }} *</label>
                    {% render_field form.email class="form-control" %}
                    {{ form.email.errors }}
                </div>
                <div class="form-group col-md-6 col-xs-12 form-group-left">
                    <label for="{{ form.phone.auto_id }}">{{ form.phone.label }} *</label>
                    {% render_field form.phone class="form-control" %}
                    {{ form.phone.errors }}
                    {{ form.phone.errors }}
                </div>
                <div class="form-group col-md-6 col-xs-12 form-group-right">
                    <label for="{{ form.fax.auto_id }}">{{ form.fax.label }}</label>
                    {% render_field form.fax class="form-control" %}
                    {{ form.fax.errors }}
                </div>

                <div class="form-group">
                    <label for="{{ form.company_address.auto_id }}">{{ form.company_address.label }} *</label>
                    {% render_field form.company_address class="form-control auto-expand" %}
                    {{ form.company_address.errors }}
                </div>

                <div class="form-group">
                    <label for="{{ form.description_1.auto_id }}">{{ form.description_1.label }} *</label>
                    {% render_field form.description_1 class="form-control auto-expand"  %}
                    {{ form.description_1.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.description_2.auto_id }}">{{ form.description_2.label }} *</label>
                    {% render_field form.description_2 class="form-control auto-expand" %}
                    {{ form.description_2.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.description_3.auto_id }}">{{ form.description_3.label }} *</label>
                    {% render_field form.description_3 class="form-control auto-expand" %}
                    {{ form.description_3.errors }}
                </div>

                <div class="form-group">
                    <label for="id_files">Zdjęcia *</label>

                    <div class="drop-area">
                        {% render_field form.files multiple="multiple" accept=".jpg,.jpeg,.png" %}

                        <div class="drop-text"><i class="fa fa-upload inline" aria-hidden="true"></i><h3 class="inline icon">Kliknij lub upuść pliki ze zdjęciami tutaj</h3></div>
                    </div>
                    <div class="files-error">
                        {{ form.files.errors }}
                    </div>

                    <div class="small text-muted text-center">Maksymalny rozmiar pojedynczego pliku to 5 MB (maks. 5 plików). Dozwolone
                        formaty plików to JPG oraz PNG.
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_allow_scan">Skan zgody na wykorzystanie zdjęć</label>

                    <div class="drop-area">
                        {% render_field form.allow_scan accept=".jpg,.jpeg,.png,.pdf" %}

                        <div class="drop-text"><i class="fa fa-upload inline" aria-hidden="true"></i><h3 class="inline icon">Kliknij lub upuść pliki ze zdjęciami tutaj</h3></div>
                    </div>
                    <div class="files-error">
                        {{ form.allow_scan.errors }}
                    </div>

                    <div class="small text-muted text-center">Maksymalny rozmiar pliku to 5 MB. Dozwolone
                        formaty plików to JPG oraz PNG.
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.category.auto_id }}">{{ form.category.label }} *</label>

                    {% for value, text in form.category.field.choices %}
                      <div class="checkbox">
                          <input class="sc-checkbox" id="id_category_{{ forloop.counter0 }}" name="{{ form.category.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                        <label class="material-checkbox" for="id_category_{{ forloop.counter0 }}">
                            <span class="checkbox-font">{{ text }}</span>
                        </label>
                      </div>
                    {% endfor %}

                    {{ form.category.errors }}
                    <div class="small text-muted text-right">* Pola wymagane</div>
                </div>

                <div class="checkbox small checkbox-text">
                    {% render_field form.checkbox_1 class="sc-checkbox" %}
                    <label for="{{ form.checkbox_1.auto_id }}" class="material-checkbox">

                         <span class="checkbox-font">Oświadczam, że zapoznałem się {% if configuration.rule_file %}<a href="{{ configuration.rule_file.url }}" target="_blank">regulaminem</a>{% else %}regulaminem{% endif %} konkursu Saint-Gobain Trophy 2018. Wyrażam zgodę na administrowanie i przetwarzanie moich danych osobowych, które udostępniłem w Formularzu zgłoszeniowym, a także otrzymywanie informacji drogą elektroniczną, na warunkach określonych w ustawie z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. z 2002 r. Nr101, poz. 926 ze zmianami) dla celów przeprowadzenia Konkursu Trophy 2018. Administratorem zbieranych danych osobowych jest Saint-Gobain Construction Products Polska Sp. z o.o. z siedzibą w Gliwicach, ul. Okrężna 16, 44-100 Gliwice.</span>
                    </label>
                    {{ form.checkbox_1.errors }}
                </div>

                <div class="checkbox small checkbox-text">
                    {% render_field form.checkbox_2 class="sc-checkbox" %}
                    <label for="{{ form.checkbox_2.auto_id }}" class="material-checkbox">

                        <span class="checkbox-font">Wyrażam zgodę na administrowanie i przetwarzanie moich danych osobowych, które udostępniłem w formularzu zgłoszeniowym, a także otrzymywanie informacji drogą elektroniczną dla potrzeb marketingowych firmy Saint-Gobain Construction Products Polska Sp. z o.o., ul. Okrężna 16, 44-100 Gliwice.</span>
                    </label>
                    {{ form.checkbox_2.errors }}
                </div>



                {% csrf_token %}
                <div class="text-right">
                    <button class="btn btn-primary button-wyslij">Wyślij zgłoszenie</button>
                </div>
                <br/>
            </form>

        </div>
        <div class="col-12 col-sm-2 col-md-2 hidden-xs hidden-sm"></div>
    </div>
</div>
    </div>