{% load static %}{% load widget_tweaks %}


<div class="header-wrapper">

    <div class="baner text-center">

        <div class="skos_1">
            <img class="img-responsive" src="{% static 'website/images/skos.svg' %}" alt="">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 saint-gobain">
                    <img class="img-responsive " src="{% static 'website/images/saint-gobain.png' %}" alt="">
                </div>
                <div class="col-sm-1 col-sm-offset-11">
                    <div class="green-label">
                        <div class="icons-top"><a href="https://www.linkedin.com/company/rigips-polska" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
                        <div class="icons-top"><a href="https://www.facebook.com/pages/Rigips-Polska/495915043852036" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                        <div class="icons-top"><a href="https://www.youtube.com/channel/UCCDL4TDLDJbWNWuLTQX7xaw" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
                    </div>
                </div>
                <!--<div class="pull-right">-->
                    <!--<a href="..." target="_blank" class=""><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                <!--</div> -->
            </div>
        <div class="trophy-wrapper">
            <span class="mini-title col-xs-12">Lokalna edycja XI międzynarodowego konkursu</span>
            <span class="trophy col-xs-12 trophy-line">Trophy</span>
            <span class="trophy col-xs-12">2018</span>
        </div>
            </div>

        <div class="skos_2">
            <img class="img-responsive" src="{% static 'website/images/skos_2.svg' %}" alt="">
        </div>

<div class="container text-center line-1"><span class="line"></span></div>
    </div>

      <div class="skos_3">
          <div class="opis-bg-mobile hidden-lg">
              <div class="opis-wrapper opis-bg-mobile ">
                  <div class="container">
                      <div class="row">
                          <div class=" col-md-3"></div>
                          <div class="col-xs-12 col-sm-12 col-md-6 welcome center-justified">
                              <h2>Zapraszamy do wzięcia udziału w konkursie</h2>
                              <p>Niniejszym ogłaszamy lokalną edycję XI międzynarodowego konkursu TROPHY. Konkurs ma na celu wyłonienie najlepszych polskich firm wykonawczych korzystających z systemów i produktów marki RIGIPS, które będą reprezentowały Polskę na międzynarodowym konkursie w Lizbonie w 2018 roku. Do konkursu mogą być zgłaszane obiekty zakończone i oddane do użytku do grudnia 2017. </p>
                              <img class="pull-right" src="{% static 'website/images/rigips_1.png' %}" alt="">
                          </div>
                          <div class=" col-md-3"></div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="visible-lg">
              <div class="opis-wrapper ">
                  <div class="container">
                      <div class="row">
                          <div class=" col-md-3"></div>
                          <div class="col-xs-12 col-sm-12 col-md-6 welcome center-justified">
                              <h2>Zapraszamy do wzięcia udziału w konkursie</h2>
                              <p>Niniejszym ogłaszamy lokalną edycję XI międzynarodowego konkursu TROPHY. Konkurs ma na celu wyłonienie najlepszych polskich firm wykonawczych korzystających z systemów i produktów marki RIGIPS, które będą reprezentowały Polskę na międzynarodowym konkursie w Lizbonie w 2018 roku. Do konkursu mogą być zgłaszane obiekty zakończone i oddane do użytku do grudnia 2017. </p>
                              <img class="pull-right" src="{% static 'website/images/rigips_1.png' %}" alt="">
                          </div>
                          <div class=" col-md-3"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

</div>


